<section id="popular" class="popular py-7 py-lg-12 bg-eutral-5 z-1">
  <img class="popular_bg-1 d-none d-md-block"  src="/assets/images/popular-bg-1.png" alt="bg-waves">
  <div class="container position-relative">
    <img class="popular_bg-2 d-none d-md-block" data-aos="fade-left" src="/assets/images/popular-bg-2.png" alt="bg-airplane">
    <img class="popular_bg-3 d-none d-md-block" data-aos="fade-right" src="/assets/images/popular-bg-3.png" alt="bg-passport">
    <h3 class="text-center fs-3 fs-lg-1 pb-8 fw-bold text-neutral-2">熱門旅程</h3>
    <div class="swiper swiper-popular mb-6">
      <div class="swiper-wrapper pb-4 swiper-popular_wrapper">
        <div class="swiper-slide swiper-popular_slide">
          <a href="./singleTrip.html" class="w-100">
            <div class="popular_img popular_img_1 d-flex justify-content-between">
              <div class="fs-6 text-white fw-medium bg-primary-2 popular_img-tag">日本</div>
              <%- include('./layout/collect-love'); -%>
            </div>
            <div class="p-4 bg-white popular_content">
              <h5 class="mb-2 fw-medium fs-5 text-neutral-1">大阪奇蹟郵輪</h5>
              <div class="d-flex align-items-center mb-2">
                <span class="star-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FACC44">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                  </svg>
                </span>
                <span class="fw-medium fs-6 text-neutral-2">4.5</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-primary-2 popular_price fw-bold">NT$ 32,000 起</p>
                <a href="./cart.html" class="popular_cart position-relative">
                  <span class="material-symbols-outlined position-relative z-1">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-popular_slide ">
          <a href="./singleTrip.html" class="w-100">
            <div class="position-relative">
              <div class="position-absolute z-2 d-flex justify-content-between w-100">
                <div class="fs-6 text-white fw-medium bg-primary-2 popular_img-tag ">台中</div>
                <%- include('./layout/collect-love'); -%>
              </div>
            </div>
            <div class="swiper swiperPopular2">
              <div class="swiper-wrapper ">
                <div class="swiper-slide popular_slide-second">
                  <div class="popular_img popular_img_2"></div>
                </div>
                <div class="swiper-slide popular_slide-second">
                  <div class="popular_img popular_img_3"></div>
                </div>
                <div class="swiper-slide popular_slide-second">
                  <div class="popular_img popular_img_4"></div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-popular-two"></div>
            </div>
            <div class="p-4 bg-white popular_content">
              <h5 class="mb-2 fw-medium fs-5 text-neutral-1">高美濕地 & 宮原眼科</h5>
              <div class="d-flex align-items-center mb-2">
                <span class="star-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FACC44">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                  </svg>
                </span>
                <span class="fw-medium fs-6 text-neutral-2">4.5</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-primary-2 popular_price fw-bold">NT$ 600 起</p>
                <a href="./cart.html" class="popular_cart position-relative">
                  <span class="material-symbols-outlined position-relative z-1">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-popular_slide">
          <a href="./singleTrip.html" class="w-100">
            <div class="popular_img popular_img_5 d-flex justify-content-between">
              <div class="fs-6 text-white fw-medium bg-primary-2 popular_img-tag">日本</div>
              <%- include('./layout/collect-love'); -%>
            </div>
            <div class="p-4 bg-white popular_content">
              <h5 class="mb-2 fw-medium fs-5 text-neutral-1">日本環球影城</h5>
              <div class="d-flex align-items-center mb-2">
                <span class="star-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FACC44">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                  </svg>
                </span>
                <span class="fw-medium fs-6 text-neutral-2">4.8</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-primary-2 popular_price fw-bold">NT$ 3,500 起</p>
                <a href="./cart.html" class="popular_cart position-relative">
                  <span class="material-symbols-outlined position-relative z-1">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-popular_slide">
          <a href="./singleTrip.html" class="w-100">
            <div class="popular_img popular_img_6 d-flex justify-content-between">
              <div class="fs-6 text-white fw-medium bg-primary-2 popular_img-tag">歐洲</div>
              <%- include('./layout/collect-love'); -%>
            </div>
            <div class="p-4 bg-white popular_content">
              <h5 class="mb-2 fw-medium fs-5 text-neutral-1">4天3夜 克里穆圖火山</h5>
              <div class="d-flex align-items-center mb-2">
                <span class="star-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FACC44">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                  </svg>
                </span>
                <span class="fw-medium fs-6 text-neutral-2">4.5</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-primary-2 popular_price fw-bold">NT$ 32,000 起</p>
                <a href="./cart.html" class="popular_cart position-relative">
                  <span class="material-symbols-outlined position-relative z-1">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-popular_slide">
          <a href="./singleTrip.html" class="w-100">
            <div class="popular_img popular_img_7 d-flex justify-content-between">
              <div class="fs-6 text-white fw-medium bg-primary-2 popular_img-tag">澎湖</div>
              <%- include('./layout/collect-love'); -%>
            </div>
            <div class="p-4 bg-white popular_content">
              <h5 class="mb-2 fw-medium fs-5 text-neutral-1">澎湖花火節</h5>
              <div class="d-flex align-items-center mb-2">
                <span class="star-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FACC44">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                  </svg>
                </span>
                <span class="fw-medium fs-6 text-neutral-2">4.5</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-primary-2 popular_price fw-bold">NT$ 15,000 起</p>
                <a href="./cart.html" class="popular_cart position-relative">
                  <span class="material-symbols-outlined position-relative z-1">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="pagination pagination-popular text-center p-4">
        <div class="swiper-popular-prev material-symbols-outlined">
          arrow_back_ios
        </div>
        <div class="swiper-pagination-popular"></div>
        <div class="swiper-popular-next material-symbols-outlined">
          arrow_forward_ios
        </div>
      </div>
    </div>

  </div>
</section>

<section class="recommend py-7 py-lg-12">
  <img class="bg-img-2" src="../assets/images/recommend-bg-2.png" alt="">
  <img class="bg-img-3" src="../assets/images/recommend-bg-3.png" alt="">
  <div class="container">
    <h3 class="text-center fs-3 fs-lg-1 pb-8 fw-bold">推薦旅程</h3>
    <div class="recommend-trip W-100 border-0 rounded-5 bg-primary-4 p-sm-4 d-flex flex-column flex-md-row gap-4 gap-lg-2">
      <div class="d-flex flex-column py-sm-3 px-sm-7 align-items-center align-items-lg-start">
        <div class="trip-title text-center text-lg-start">
          <h6 class="text-primary-1">TravelTales</h6>
          <h4 class="fw-bold pb-3">帶您去澎湖</h4>
          <img src="../assets/images/recommend-bg-1.png" alt="">
        </div>
        <div class="swiper swiper-container">
          <div class="swiper-wrapper pb-4">
            <div class="swiper-slide">
              <div class="recommend-swiper-img recommend-swiper-img_1">
                <%- include('./layout/collect-love'); -%>
              </div>
              <a href="singleTrip.html" class="info bg-neutral-7 p-4 w-100">
                <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                  <div class="cart rounded-circle">
                    <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                      shopping_cart
                    </span>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <div class="recommend-swiper-img recommend-swiper-img_1">
                <%- include('./layout/collect-love'); -%>
              </div>
              <a href="singleTrip.html" class="info bg-neutral-7 p-4 w-100">
                <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                  <div class="cart rounded-circle">
                    <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                      shopping_cart
                    </span>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <div class="recommend-swiper-img recommend-swiper-img_1">
                <%- include('./layout/collect-love'); -%>
              </div>
              <a href="singleTrip.html" class="info bg-neutral-7 p-4 w-100">
                <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                  <div class="cart rounded-circle">
                    <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                      shopping_cart
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="pagination d-flex text-center px-4 px-lg-7 py-4 w-100">
          <div class="swiper-prev material-symbols-outlined">
            arrow_back_ios
          </div>
          <div class="swiper-pagination-custom"></div>
          <div class="swiper-next material-symbols-outlined">
            arrow_forward_ios
          </div>
        </div>
      </div>
      <div class="comment w-100 rounded-4 p-6 d-flex flex-column align-items-end justify-content-between">
        <button class="btn btn-primary-2 rounded-4">點我看更多</button>
        <div class="d-flex flex-column align-items-end w-100">
          <div class="score mb-2">
            <span class="material-symbols-outlined text-secondary-6">
              star
            </span>
            <span class="material-symbols-outlined text-secondary-6">
              star
            </span>
            <span class="material-symbols-outlined text-secondary-6">
              star
            </span>
            <span class="material-symbols-outlined text-secondary-6">
              star
            </span>
            <span class="material-symbols-outlined text-neutral-7">
              star
            </span>
            <p>4.8</p>
          </div>
          <div class="comment-btn text-neutral-7 d-flex gap-2 border rounded-3 border-neutral-7 px-4 py-2 mb-6">
            <span class="material-symbols-outlined text-neutral-7">
              sms
            </span>
            <p>2,577</p>
            <p>|</p>
            <p>1K+人 參加過</p>
          </div>
          <swiper-container class="comment-swiper" slides-per-view="auto" space-between="16" loop="true">
            <swiper-slide>
              <div class="comment-tag" data-aos="fade-left"
              data-aos-anchor-placement="center-bottom" data-aos-offset="100" data-aos-duration="500">
                <img src="../assets/images/person-1.png" class="rounded-circle object-fit-cover" alt="person-1">
                <p>這個行程太優惠了，行程又多</p>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="comment-tag" data-aos="fade-left"
              data-aos-anchor-placement="center-bottom" data-aos-offset="100" data-aos-duration="500">
                <img src="../assets/images/person-2.png" class="rounded-circle object-fit-cover" alt="person-2">
                <p>下次還會再來玩</p>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="comment-tag" data-aos="fade-left"
              data-aos-anchor-placement="center-bottom" data-aos-offset="170" data-aos-duration="500">
                <img src="../assets/images/person-3.png" class="rounded-circle object-fit-cover" alt="person-3">
                <p>還能加購更多</p>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="comment-tag" data-aos="fade-left"
              data-aos-anchor-placement="center-bottom" data-aos-offset="240" data-aos-duration="500">
                <img src="../assets/images/person-1.png" class="rounded-circle object-fit-cover" alt="person-1">
                <p>這個行程太優惠了，行程又多</p>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="reason py-8 py-lg-12">
  <h2 class="text-center fs-3 fs-lg-1 fw-bold pb-8 text-neutral-2">選擇我們的理由</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-6 mb-lg-0" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-offset="100">
          <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-1.png" alt="Illustration of reason 1">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">創意無限的遊程選擇</h3>
          <p class="text-center px-lg-4">TravelTales提供遊程選擇，滿足旅行偏好和興趣，讓每一次旅行都充滿驚喜。</p>
        </div>
        <div class="col-lg-4 mb-6 mb-lg-0" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-offset="150">
          <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-2.png" alt="Illustration of reason 2">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">個性化推薦與定制</h3>
          <p class="text-center px-lg-4">TravelTales利用先進的算法和用戶數據，提供個性化的行程推薦和定制服務。</p>
        </div>
        <div class="col-lg-4 mb-6 mb-lg-0" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"  data-aos-offset="200">
          <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-3.png" alt="Illustration of reason 3">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">旅行故事的創造與分享</h3>
          <p class="text-center px-lg-4">平台不僅僅是預訂工具，更是一個分享旅行故事的社區。</p>
        </div>
      </div>
    </div>
</section>

<section class="rank py-8 py-lg-12 bg-primary-4">
  <h2 class="text-center fs-3 fs-lg-1 fw-bold pb-8 text-neutral-2">排行榜</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">當季活動</h3>
          <ol class="m-0 p-0">
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-1.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">新北｜許家麵線｜親子體驗：流水麵線</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.3</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>560+</p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <a href="#"><span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span></a>
                </div>
              </div>
            </li>
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-2.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">南投｜玉山2天1夜前峰團 · 2天2夜</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.6</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>400+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-3.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">SNOWTOWN 雪樂地門票</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.5</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>350+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">熱門評論</h3>
          <ol class="m-0 p-0">
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-1.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">新北八里左岸｜SUP立槳｜沙洲蛤水麵</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.8</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>670+</p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <a href="#"><span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span></a>
                </div>
              </div>
            </li>
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-2.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">台中國立自然科學博物館門票</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.6</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>420+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-3.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">台中｜經典行程&高美濕地一日遊</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.5</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>350+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
          <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">優惠景點</h3>
          <ol class="m-0 p-0">
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-1.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">宜蘭張美阿嬤農場</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.9</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>560+</p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <a href="#"><span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span></a>
                </div>
              </div>
            </li>
            <li class="border-bottom border-neutral-5">
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-2.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">花蓮賞鯨｜多羅滿海洋賞鯨導覽體</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.5</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>400+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center py-4 rank-item">
                <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                <div class="me-2 me-lg-4">
                  <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-3.png" alt="travel photos">
                </div>
                <div class="w-100 min-w-0">
                  <p class="fw-medium mb-2 text-truncate">南投｜日月潭之美·海陸空體驗一日遊</p>
                  <div>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span class="material-symbols-outlined span-star me-2">star</span>4.5</p>
                    <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span class="material-symbols-outlined span-textsms me-2">textsms</span>500+
                    </p>
                  </div>
                </div>
                <div class="mx-2 mx-lg-4">
                  <span class="material-symbols-outlined span-arrow-right">arrow_forward_ios</span>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>